body {
    position: relative;
}
.form-group{
    margin-top : 20px;
}
ul.nav-pills {
    width: 15%;
    top: 30%;
    right: 0;
    position: fixed;
}

@media (max-width: 768px) {
    #RegistPage{
        display: none;
    }
}
